<!doctype html>
<html>
   <body>
        <p>Welcome {{ username }}!!</p>
        <video width='320' height='240' controls> 
            <source src='http://35.246.41.186:SampleVideo_1.mp4' type='video/mp4'>
        </video>


        <form method='POST' action='/moartests'>
            First name: <input name='first_name' type='TEXT'>
            Last name: <input name='last_name' type='TEXT'>
            <input value='Submit' type='SUBMIT'>
        </form>


        
        <form method='POST' action='/playvideo'>
            Enter movie name: <input name='movie_title' type='TEXT'>
            <input value='Submit' name='movie_title' type='SUBMIT'>
        </form>
        <form method='POST' action='/playvideo'>
            Enter movie name: <input name='movie_title' type='TEXT'>
            <input value='Go to Video' type='SUBMIT'>
        </form>




        <form method='POST' action='/playvideo'>
            <input type="image" name="movie_title" value="SampleVideo_1.mp4" src="static/apple8.0.png" type='SUBMIT'>
        </form> 
        <form method='POST' action='/playvideo'>
            <input type="hidden" name="movie_title" value="SampleVideo_1.mp4">
            <input type="image" src="static/apple8.0.png">
        </form>

        <!-- <button type="submit" name="movie_title" value="SampleVideo_1.mp4"><img src="static/apple8.0.png" alt="SomeAlternateText"></button> -->
        <!-- <a href="static/SampleVideo_1.mp4">
            <img src="static/apple8.0.png" alt="sample video" style="width:220px;height:220px;border:0;">
        </a> -->
        <p>{{ password }}</p>
        <p>anthony</p>
   </body>
</html>